.navbar {
  background-color: #335985;
  color: floralwhite;
  height: 4rem;
}

.navItem {
  font-size: 1.5rem;
  font-family: 'Cinzel', serif;
}

.body {
  background-color: #1B2A34;
  height: 100vh;
}

.footer {
  background-color: #335985;
  color: floralwhite;
  height: 4rem;
}

.footerItem {
  font-size: 1.5rem;
  font-family: 'Cinzel', serif;
}